
#N
io_bIn_0.*
io_cOut_0.*
io_bIn_1.*
io_cOut_1.*
io_bIn_2.*
io_cOut_2.*
io_bIn_3.*
io_cOut_3.*

#S
io_bOut_0.*
io_bOut_1.*
io_bOut_2.*
io_bOut_3.*

#E
io_aOut_3.*
io_aOut_2.*
io_aOut_1.*
io_aOut_0.*

#W
reset
io_aIn_3.*
io_aIn_2.*
clock
io_aIn_1.*
io_aIn_0.*
io_firstIn
io_finalIn
