@min_distance=0.46

#N
io_bIn_0.*
io_cOut_0.*
io_bIn_1.*
io_cOut_1.*
io_bIn_2.*
io_cOut_2.*
io_bIn_3.*
io_cOut_3.*
io_bIn_4.*
io_cOut_4.*
io_bIn_5.*
io_cOut_5.*
io_bIn_6.*
io_cOut_6.*
io_bIn_7.*
io_cOut_7.*

#S
io_bOut_0.*
io_bOut_1.*
io_bOut_2.*
io_bOut_3.*
io_bOut_4.*
io_bOut_5.*
io_bOut_6.*
io_bOut_7.*

#E
io_aOut_7.*
io_aOut_6.*
io_aOut_5.*
io_aOut_4.*
io_aOut_3.*
io_aOut_2.*
io_aOut_1.*
io_aOut_0.*

#W
clock
reset
io_stepIn
io_completeIn
io_aIn_7.*
io_aIn_6.*
io_aIn_5.*
io_aIn_4.*
io_aIn_3.*
io_aIn_2.*
io_aIn_1.*
io_aIn_0.*
