
#N
io_weightLoadIn_0.*
io_sumIn_0.*
io_weightLoadIn_1.*
io_sumIn_1.*
io_weightLoadIn_2.*
io_sumIn_2.*
io_weightLoadIn_3.*
io_sumIn_3.*
io_weightLoadIn_4.*
io_sumIn_4.*
io_weightLoadIn_5.*
io_sumIn_5.*
io_weightLoadIn_6.*
io_sumIn_6.*
io_weightLoadIn_7.*
io_sumIn_7.*

#S
io_sumOut_0.*
io_sumOut_1.*
io_sumOut_2.*
io_sumOut_3.*
io_sumOut_4.*
io_sumOut_5.*
io_sumOut_6.*
io_sumOut_7.*

#E
io_inputOut_7.*
io_inputOut_6.*
io_inputOut_5.*
io_inputOut_4.*
io_inputOut_3.*
io_inputOut_2.*
io_inputOut_1.*
io_inputOut_0.*

#W
reset
io_inputIn_7.*
io_inputIn_6.*
io_inputIn_5.*
io_inputIn_4.*
clock
io_inputIn_3.*
io_inputIn_2.*
io_inputIn_1.*
io_inputIn_0.*
io_loadWeightIn
io_stepIn
