
#N
io_weightLoadIn_0.*
io_sumIn_0.*
io_weightLoadIn_1.*
io_sumIn_1.*
io_weightLoadIn_2.*
io_sumIn_2.*
io_weightLoadIn_3.*
io_sumIn_3.*

#S
io_sumOut_0.*
io_sumOut_1.*
io_sumOut_2.*
io_sumOut_3.*

#E
io_inputOut_0.*
io_inputOut_1.*
io_inputOut_2.*
io_inputOut_3.*

#W
clock
reset
io_loadWeightIn
io_stepIn
io_inputIn_0.*
io_inputIn_1.*
io_inputIn_2.*
io_inputIn_3.*
