@min_distance=0.46

#N
io_nsFromMemory_0.*
io_nsForwardInput_0.*
io_nsBackwardOutput_0.*
io_nsFromMemory_1.*
io_nsForwardInput_1.*
io_nsBackwardOutput_1.*

#S
io_nsBackwardInput_0.*
io_nsForwardOutput_0.*
io_nsBackwardInput_1.*
io_nsForwardOutput_1.*

#E
io_ewBackwardInput_1.*
io_ewForwardOutput_1.*
io_ewBackwardInput_0.*
io_ewForwardOutput_0.*

#W
clock
reset
io_ewUseBackward
io_nsUseBackward
io_init.*
io_stepIn.*
io_completeIn.*
io_error
io_ewFromMemory_1.*
io_cToMemory_1.*
io_cToMemoryValid_1
io_ewForwardInput_1.*
io_ewBackwardOutput_1.*
io_ewFromMemory_0.*
io_cToMemory_0.*
io_cToMemoryValid_0
io_ewForwardInput_0.*
io_ewBackwardOutput_0.*
