@min_distance=1.5

#N
io_nsFromMemory.*
io_nsForwardInput_0.*
io_nsBackwardOutput_0.*
io_nsForwardInput_1.*
io_nsBackwardOutput_1.*
io_nsForwardInput_2.*
io_nsBackwardOutput_2.*
io_nsForwardInput_3.*
io_nsBackwardOutput_3.*
io_nsForwardInput_4.*
io_nsBackwardOutput_4.*
io_nsForwardInput_5.*
io_nsBackwardOutput_5.*
io_nsForwardInput_6.*
io_nsBackwardOutput_6.*
io_nsForwardInput_7.*
io_nsBackwardOutput_7.*

#S
io_nsBackwardInput_0.*
io_nsForwardOutput_0.*
io_nsBackwardInput_1.*
io_nsForwardOutput_1.*
io_nsBackwardInput_2.*
io_nsForwardOutput_2.*
io_nsBackwardInput_3.*
io_nsForwardOutput_3.*
io_nsBackwardInput_4.*
io_nsForwardOutput_4.*
io_nsBackwardInput_5.*
io_nsForwardOutput_5.*
io_nsBackwardInput_6.*
io_nsForwardOutput_6.*
io_nsBackwardInput_7.*
io_nsForwardOutput_7.*

#E
io_ewBackwardInput_0.*
io_ewForwardOutput_0.*
io_ewBackwardInput_1.*
io_ewForwardOutput_1.*
io_ewBackwardInput_2.*
io_ewForwardOutput_2.*
io_ewBackwardInput_3.*
io_ewForwardOutput_3.*
io_ewBackwardInput_4.*
io_ewForwardOutput_4.*
io_ewBackwardInput_5.*
io_ewForwardOutput_5.*
io_ewBackwardInput_6.*
io_ewForwardOutput_6.*
io_ewBackwardInput_7.*
io_ewForwardOutput_7.*

#W
clock
reset
io_ewFromMemory.*
io_cToMemory_0.*
io_cToMemory_1.*
io_cToMemory_2.*
io_cToMemory_3.*
io_cToMemory_4.*
io_cToMemory_5.*
io_cToMemory_6.*
io_cToMemory_7.*
io_cToMemoryValid.*
io_ewUseBackward
io_nsUseBackward
io_init.*
io_stepIn.*
io_completeIn.*
io_ewForwardInput_0.*
io_ewBackwardOutput_0.*
io_ewForwardInput_1.*
io_ewBackwardOutput_1.*
io_ewForwardInput_2.*
io_ewBackwardOutput_2.*
io_ewForwardInput_3.*
io_ewBackwardOutput_3.*
io_ewForwardInput_4.*
io_ewBackwardOutput_4.*
io_ewForwardInput_5.*
io_ewBackwardOutput_5.*
io_ewForwardInput_6.*
io_ewBackwardOutput_6.*
io_ewForwardInput_7.*
io_ewBackwardOutput_7.*
io_error
