@min_distance=1.5

#N
io_aChannels_ni.*
io_bChannels_ni.*
io_aChannels_no.*
io_bChannels_no.*

#S
io_aChannels_so.*
io_bChannels_so.*
io_aChannels_si.*
io_bChannels_si.*

#E
io_aChannels_ei.*
io_bChannels_ei.*
io_aChannels_eo.*
io_bChannels_eo.*

#W
clock
reset
io_this.*
io_memlet.*
io_laneIndex.*
io_aChannels_wo.*
io_bChannels_wo.*
io_aChannels_wi.*
io_bChannels_wi.*
io_jte.*
io_transferComplete.*
io_errors.*
io_tlb.*
io_ordering.*
io_cacheLine.*
io_immediateKinstr.*
io_sendCacheLine.*
io_cacheResponse.*
io_kamletReceivePacket.*
