@min_distance=1.5

#N
io_bIn.*
io_aStoreIn.*
io_bStoreIn.*

#S
io_bOut.*
io_aStoreOut.*
io_bStoreOut.*

#E
io_aOut.*
io_cIn.*

#W
clock
reset
io_initialize
io_storeAccumulator
io_step
io_load
io_dump
io_aIn.*
io_cOut.*
